<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>all_blogs</title>
</head>

<body>
    <h1>Blog</h1>
    <h2>Nick Was written {{Blogs.count}} blog{{Blogs.count|pluralize}}</h2>
    
    {% for Blog in Blogs %}
    <a href="{% url 'Blog:detail' Blog.id %}"><h2>{{Blog.title}}</h2></a>
    
    <h5>{{Blog.date|date:'M d Y'}}</h5>
    <p>{{Blog.description|safe|truncatechars:100}}</p>
    {% endfor %}



</body>

</html>